/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  color: #1e1d6b;
  font-weight: bold;
  font-family: "Nunito","游ゴシック","YuGothic","ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ","Meiryo",sans-serif;
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}



// ⭐︎ヘッダー⭐︎
.navbar{
  background-color: #eaedf3;  
  height: 70px;
}

.bar-right li{
  display: inline-block;
  font-family: "Nunito","游ゴシック","YuGothic","ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ","Meiryo",sans-serif;
  color: white;
  margin-right: 10px;
  color: black;
  margin-top: -2em;
}

.list{
  color: #08243B;
  font-family: "Nunito","游ゴシック","YuGothic","ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ","Meiryo",sans-serif;
}




// ⭐︎フッター⭐︎
footer{
  margin-top: 180px;
  background-color: #eaedf3; 
}

.icon{
  list-style: none;
  margin: 16px;
}

.footer-content{
  line-height: 0.6em;
  padding-top: 20px;
}

.footer-title{
  padding-top: 10px;
}

.sns{
  padding-top: 10px;
}





// ⭐︎devise⭐︎
.frame-devise{
  // padding: 0.5em 1em;
  // margin: 2em 0;
  font-weight: bold;
  // color: #ED553B;/*文字色*/
  border: solid 2px #1E1D6B;/*線*/
  border-radius: 50px;/*角の丸み*/
}

.devise-title{
  margin-top: 30px;
}

.devise-text{
  margin-bottom: 0px
}

.devise-button{
  margin-bottom: 30px
}