// Place all the styles related to the gelandes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// ゲレンデ一覧の囲み枠
.frame-gelande-index{
  padding: 2em;
  margin: 1em 0;
  font-weight: bold;
  border: solid 2px #E5E5E5;/*線*/
  border-radius: 20px;/*角の丸み*/
  width: 250px;
  height: 250px;
  background-color: rgba(250, 250, 250, 0.911);
}

// ゲレンデ一覧囲み枠ホバー
.frame-gelande-index:hover {
  box-shadow: 0px 0px 10px rgba(107, 91, 250, 0.3);
  transform: translateY(5px);
}

// ゲレンデ一覧囲み枠全体リンク
.frame-gelande-index .link{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


// 天気予報の囲み枠
.whether{
  padding: 1em;
  font-weight: bold;
  border: solid 1px #E5E5E5;/*線*/
  border-radius: 20px;/*角の丸み*/
  height: 850px;
  background-color: rgba(250, 250, 250, 0.911);
}


// ゲレンデページの口コミ囲み枠
.frame-review-index{
  padding: 1em;
  margin: 1em 0;
  border: solid 1px #E5E5E5;/*線*/
  // border-radius: 20px;/*角の丸み*/
  width: 200px;
  height: 180px;
  background-color: rgba(250, 250, 250, 0.911);
}


// 口コミ詳細ページの囲み枠
.frame-review-show{
  padding: 1em;
  margin: 1em 0;
  border: solid 1px #E5E5E5;/*線*/
  // border-radius: 20px;/*角の丸み*/
  width: 220px;
  height: 200px;
  background-color: rgba(250, 250, 250, 0.911);
}

// 口コミ詳細説明文の囲み枠
.frame-gelande-introduction{
  padding: 2em;
  margin: 1em 0;
  border: solid 1px #E5E5E5;/*線*/
  border-radius: 20px;/*角の丸み*/
  background-color: rgba(250, 250, 250, 0.911);
}


// 口コミのもっと見るリンク
.more{
  margin-top: 180px;
}


// テーブルリンクのカーソル指定
table.table-clickable tr[data-href]{
  cursor: pointer;
}


// ゲレンデ一覧ページ背景
.gelande-visual{
  background-size: cover;
  content: '';
  background-image: image-url("back4.jpg");/*背景画像のURL*/
  background-repeat: repeat;
}

// 見出しステッチ枠
.gelande-caption{
  padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
  color: #494949;/*文字色*/
  background: #f4f4f4;/*背景色*/
  border-left: solid 5px #7db4e6;/*左線*/
  border-bottom: solid 3px #d7d7d7;/*下線*/
}