// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// 投稿一覧・詳細囲み枠
.frame-post-index{
  margin: 1em 0;
  padding: 2em;
  border: solid 2px #E5E5E5;/*線*/
  border-radius: 20px;/*角の丸み*/
  width: 100%;
  background-color: rgba(250, 250, 250, 0.911);
}

// 投稿一覧・詳細囲み枠ホバー
.frame-post-index:hover {
  box-shadow: 0px 0px 10px rgba(107, 91, 250, 0.3);
  transform: translateY(5px);
}

// 投稿一覧囲み枠全体リンク
.frame-post-index .link{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


// 投稿詳細囲み枠
.frame-post-show{
  margin: 1em 0;
  padding: 2em;
  border: solid 2px #E5E5E5;/*線*/
  border-radius: 20px;/*角の丸み*/
  width: 100%;
  background-color: rgba(250, 250, 250, 0.911);
}


// コメント一覧囲み枠
.frame-post-comment{
  padding: 1em;
  // color: #ED553B;/*文字色*/
  border: solid 1px #E5E5E5;/*線*/
  border-radius: 20px;/*角の丸み*/
  background-color: rgba(250, 250, 250, 0.911);
}


// いいねハートの色
.like-color{
  color: red;
}


// ゲレンデ一覧ページ背景
.post-visual{
  background-size: cover;
  content: '';
  background-image: image-url("back2.jpg");/*背景画像のURL*/
  background-repeat: repeat;
}


// 見出しステッチ枠
.post-caption{
  padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
  color: #494949;/*文字色*/
  background: #f4f4f4;/*背景色*/
  border-left: solid 5px #ff8ab1;/*左線*/
  border-bottom: solid 3px #d7d7d7;/*下線*/
}