// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// 画像選択
.img_prev:hover {
  cursor: pointer; 
  opacity: 0.7;
}


// 退会フレーム
.frame-user{
  border: solid 2px #E5E5E5;/*線*/
  border-radius: 50px;/*角の丸み*/
}


// ユーザー一覧囲み枠
.frame-user-index{
  padding: 2em;
  margin: 1em 0;
  // color: #ED553B;/*文字色*/
  border: solid 2px #E5E5E5;/*線*/
  border-radius: 20px;/*角の丸み*/
  width: 250px;
  height: 250px;
  background-color: rgba(250, 250, 250, 0.911);
}

// ユーザー一覧囲み枠ホバー
.frame-user-index:hover {
  box-shadow: 0px 0px 10px rgba(107, 91, 250, 0.3);
  transform: translateY(5px);
}

// ユーザー一覧囲み枠全体リンク
.frame-user-index .link{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


// ユーザー詳細・ユーザー詳細投稿囲み枠
.frame-user-show{
  padding: 2em;
  margin: 1em 0;
  // color: #ED553B;/*文字色*/
  border: solid 2px #E5E5E5;/*線*/
  border-radius: 20px;/*角の丸み*/
  background-color: rgba(250, 250, 250, 0.911);
}


// ゲレンデ・投稿・ユーザー検索枠
.search{
  margin: 1em 0;
	text-align: center;
	display: block;
  border: solid 2px #E5E5E5;/*線*/
  padding: 1em;
  border-radius: 20px;/*角の丸み*/
  background-color: rgba(250, 250, 250, 0.911);
}