// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// 画像選択
.img_prev:hover {
  cursor: pointer; 
  opacity: 0.7;
}


// 退会フレーム
.frame-user{
  border: solid 2px #E5E5E5;/*線*/
  border-radius: 50px;/*角の丸み*/
  padding: 2em;
  background-color: rgba(250, 250, 250, 0.911);
}


// ユーザー一覧囲み枠
.frame-user-index{
  padding: 40px;
  padding-left: 50px;
  margin: 1em 0;
  // color: #ED553B;/*文字色*/
  border: solid 2px #E5E5E5;/*線*/
  border-radius: 20px;/*角の丸み*/
  width: 250px;
  height: 250px;
  background-color: rgba(250, 250, 250, 0.911);
}

// ユーザー一覧囲み枠ホバー
.frame-user-index:hover {
  box-shadow: 0px 0px 10px rgba(107, 91, 250, 0.3);
  transform: translateY(5px);
}

// ユーザー一覧囲み枠全体リンク
.frame-user-index .link{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


// ユーザー詳細・ユーザー詳細投稿囲み枠
.frame-user-show{
  padding: 2em;
  margin: 1em 0;
  border: solid 2px #E5E5E5;/*線*/
  border-radius: 20px;/*角の丸み*/
  background-color: rgba(250, 250, 250, 0.911);
}


// ゲレンデ・投稿・ユーザー検索枠
.search{
  margin: 1em 0;
	text-align: center;
	display: block;
  border: solid 2px #E5E5E5;/*線*/
  padding: 1em;
  border-radius: 20px;/*角の丸み*/
  background-color: rgba(250, 250, 250, 0.911);
}


// ユーザー一覧ページ背景
.user-visual{
  background-size: cover;
  content: '';
  background-image: image-url("back1.jpg");/*背景画像のURL*/
  background-repeat: repeat;
  // background-position:100% 0%;
  min-height: 520px;
  height: auto !important;
  height: 520px;
  // font-family: "いろはマル";
  font-weight: 600;
}


// 見出しステッチ枠
.user-caption{
  padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
  color: #494949;/*文字色*/
  background: #f4f4f4;/*背景色*/
  border-left: solid 5px #e6927d;/*左線*/
  border-bottom: solid 3px #d7d7d7;/*下線*/
}


// フォローフォロワー囲み枠
.frame-follow{
  padding: 2em;
  margin: 1em 0;
  // color: #ED553B;/*文字色*/
  border: solid 2px #E5E5E5;/*線*/
  border-radius: 20px;/*角の丸み*/
  background-color: rgba(250, 250, 250, 0.911);
}


// 通知ー囲み枠
.frame-notification{
  padding: 2em;
  margin: 1em 0;
  // color: #ED553B;/*文字色*/
  border: solid 2px #E5E5E5;/*線*/
  border-radius: 20px;/*角の丸み*/
  background-color: rgba(250, 250, 250, 0.911);
}


// 通知ページ背景
.notification-visual{
  background-size: cover;
  content: '';
  background-image: image-url("back12.jpg");/*背景画像のURL*/
  background-repeat: repeat;
  background-position:100% 0%;
  min-height: 520px;
  height: auto !important;
  height: 520px;
}


// 見出しステッチ枠
.notification-caption{
  padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
  color: #494949;/*文字色*/
  background: #f4f4f4;/*背景色*/
  border-left: solid 5px #9559f7a4;/*左線*/
  border-bottom: solid 3px #d7d7d7;/*下線*/
  background-position: 40% 100%;
}


// 通知囲み枠
.frame-notification{
  padding: 2em;
  margin: 1em 0;
  // color: #ED553B;/*文字色*/
  border: solid 2px #E5E5E5;/*線*/
  border-radius: 20px;/*角の丸み*/
  background-color: rgba(250, 250, 250, 0.911);
}


// DM吹き出し
.balloon5 {
  width: 100%;
  margin: 1.5em 0;
  overflow: hidden;
}

.balloon5 .chatting {
  width: 100%;
}

// DM吹き出し左
.says {
  display: inline-block;
  position: relative; 
  padding: 17px 13px;
  border-radius: 12px;
  background: #d7ebfe;
}

.says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 18px; 
  left: -24px;
  border: 12px solid transparent;
  border-right: 12px solid #d7ebfe;
}

.says p {
  margin: 0;
  padding: 0;
}

// DM吹き出し右
.say {
  display: inline-block;
  position: relative; 
  padding: 17px 13px;
  border-radius: 12px;
  background: #f3d4fc;
}

.say:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 18px; 
  right: -24px;
  border: 12px solid transparent;
  border-left: 12px solid #f3d4fc;
}

.say p {
  margin: 0;
  padding: 0;
}


// お気に入りゲレンデリスト
.favorite-gelande{
  ul {
    padding: 0;
  }
  
  ul li, ol li {
    color: #404040;
    border-left: solid 6px #fdae79;/*左側の線*/
    border-bottom: solid 2px #dadada;/*下に灰色線*/
    background: rgb(255, 255, 255);
    margin-bottom: 5px;/*下のバーとの余白*/
    line-height: 1.5;
    padding: 0.5em;
    list-style-type: none!important;/*ポチ消す*/
    font-weight: bold;
  }
}


// DM一覧囲み枠
.frame-room-index{
  padding: 30px;
  margin: 1em 0;
  // color: #ED553B;/*文字色*/
  border: solid 2px #E5E5E5;/*線*/
  border-radius: 20px;/*角の丸み*/
  background-color: rgba(250, 250, 250, 0.911);
}

// DM一覧囲み枠全体リンク
.frame-room-index .link{
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// DM一覧囲み枠ホバー
.frame-room-index:hover {
  box-shadow: 0px 0px 10px rgba(107, 91, 250, 0.3);
  transform: translateY(5px);
}